body {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

.body--day {
  background :#fff;
}

.body--night {
  background :#101c42;
}

.text--light {
  font-weight: 300;
}
.text--regular {
  font-weight: 400;
}
.text--semibold {
  font-weight: 600;
}
.text--bold {
  font-weight: 800;
}

.btn {
  padding: 6px 18px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s all cubic-bezier(0.23, 1, 0.320, 1);
}

.btn--primary {
  background-color: transparent;
  border: 2px #fff solid;
  border-radius: 6px;
  color: #fff;
}

.btn--primary:hover {
  background-color: #fff;
  color: #000;
}

.main {
  backdrop-filter: blur(4px);
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  max-width: 1296px;
  margin: 0 auto;
  gap: 24px;
  padding: 24px;
}

.bg--sunny {
  background: rgb(14,98,254);
  background: linear-gradient(45deg, rgba(14,98,254,0.65) 0%, rgba(83,181,227,0.65) 100%);
}

.bg--night {
  background: rgb(43,42,210);
  background: linear-gradient(45deg, rgba(43,42,210,0.65) 0%, rgba(186,128,218,0.65) 100%);
}

.bg--cloudy {
  background: rgb(10,63,161);
  background: linear-gradient(45deg, rgba(10,63,161,0.65) 0%, rgba(56,123,154,0.65) 100%);
}

.bg--thunder {
  background: rgb(6,157,96);
  background: linear-gradient(45deg, rgba(6,157,96,0.8) 0%, rgba(32,209,96,0.8) 100%);
}

.search__wrapper {
  display: flex;
  justify-content: center;
}

.search {
  display: flex;
  gap: 24px;
}

.search__bar {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  background-color: transparent;
  color: #fff;
  border: none;
  border-bottom: 1px #fff solid;
  transition: 0.1s all cubic-bezier(0.23, 1, 0.320, 1);
}

.search__bar:focus {
  outline: none;
  border-bottom: 2px #fff solid;
}

.search__bar::placeholder {
  color: #f3f3f3;
}

.loading__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  width:78px;
  height:78px;
}

.top__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon--weather {
  width: 350px;
}

.top__temp {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.temp--main {
  font-size: 64px;
  text-shadow: 1px 1px 1px #919191,
  1px 2px 1px #919191,
  1px 3px 1px #919191,
  1px 4px 1px #919191,
  1px 5px 1px #919191,
1px 11px 6px rgba(16,16,16,0.4),
1px 13px 10px rgba(16,16,16,0.2),
1px 14px 35px rgba(16,16,16,0.2),
1px 16px 60px rgba(16,16,16,0.4);
}

.temp__feelslike {
  display: flex;
  flex-direction: column;
}

.info__table {
  display: flex;
  flex-direction: column;
}

.info__table .row{
  display: flex;
  justify-content: space-around;
}

.location {
  font-size: 18px;
  text-shadow: 1px 1px 1px #919191,
  1px 2px 1px #919191,
1px 6px 6px rgba(16,16,16,0.4),
1px 8px 10px rgba(16,16,16,0.2);
}